* {
  font-family: ui-rounded, "SFRounded", sans-serif !important;
}

body {
  overflow-x: hidden;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  margin: 0;
}

html {
  height: -webkit-fill-available;
}

.page {
  margin: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  min-height: 100vh;
  min-height: -webkit-fill-available;
  height: 100vh;
}

.header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 52px 100px 0;
  box-sizing: border-box;
}

.header__label {
  font-style: normal;
  font-weight: bold;
  font-size: 54px;
  line-height: 111.34%;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
  color: #000000;
  margin: 0;
  margin-right: auto;
}

.header__icon {
  width: 50px;
  height: 50px;
  margin-left: 20px;
}

.header__join {
  height: 40px;
  text-decoration: none;
  background: #8438ff4f;
  border-radius: 25px;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 111.34%;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
  color: #7a28ff;
  padding: 0 24px;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 48px 24px;
}

.main__total {
  display: flex;
  align-items: center;
  text-align: center;

  font-style: normal;
  font-weight: bold;
  font-size: 124px;
  line-height: 148px;

  letter-spacing: 0.389425px;
  color: #000000;
  margin: 0;
  margin-bottom: 14px;
}

.main__description {
  font-style: normal;
  font-weight: normal;
  font-size: 62px;
  line-height: 74px;
  letter-spacing: 0.389425px;
  color: #0c0b0b;
  text-align: center;
  margin: 0;
}

.main__description strong {
  font-weight: bold;
}

.main__description span {
  color: #6ce246;
}

.whitelist__success {
  margin-top: 60px;
  font-style: normal;
  font-weight: bold;
  font-size: 31.2633px;
  line-height: 53px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.393025px;
  color: #4a4a4a;
}

.whitelist__success p {
  margin: 0;
  margin-right: 26px;
}

.whitelist__success p::after {
  content: "👉";
}

.whitelist__success a {
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  font-size: 17.8648px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.393025px;
  color: #ffffff;
  background: #8438ff;
  border-radius: 34px;
  padding: 0 20px 0 24px;
  height: 62px;

  transition: 0.2s background;
}

.whitelist__success a:hover {
  background: #8438ffe6;
}

.input {
  position: relative;
  margin-top: 60px;
  background: rgba(226, 226, 226, 0.35);
  border-radius: 18px;
  display: flex;
  align-items: center;
  height: 62px;
  width: 430px;
}

.input:focus-within {
  background: rgba(226, 226, 226, 0.25);
}

.input__flag {
  padding-left: 16px;
  height: 30px;
  width: 30px;
}

.input__field {
  font-style: normal;
  font-weight: bold;
  font-size: 17.7012px;
  line-height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: 0.328089px;
  color: #000000;
  margin-left: 8px;
  height: 100%;

  border: none;
  background: transparent;
  outline: none;
}

.input__button {
  position: absolute;
  right: 0;
  top: 0;

  display: flex;
  align-items: center;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  border: none;
  cursor: pointer;
  flex-shrink: 0;
  transition: 0.5s all;
  background: #6ce246;
  border-radius: 0px 20px 20px 0px;
  font-size: 17.7012px;
  line-height: 21px;
  letter-spacing: 0.389425px;
  color: #fff;
  padding: 0 22px;
  height: 100%;
}

.input__button:disabled {
  background: #defad4;
  color: #6ce246;
  cursor: default;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.366667px;

  margin-bottom: 32px;
}

.footer__date {
  color: #000000;
  margin: 0;
}

.footer__company {
  color: #4a4a4a;
  opacity: 0.37;
  margin: 0;
}

/* ------------------------------ optimisation for mobile ------------------------------ */

.mobile {
  display: none !important;
}

@media screen and (max-width: 812px) {
  .desktop {
    display: none !important;
  }

  .mobile {
    display: initial !important;
  }

  .header {
    padding: 20px 24px 0;
    height: 72px;
  }

  .header__label {
    font-size: 34px;
    line-height: 111.34%;
  }

  .header__join {
    display: none;
  }

  .header__icon {
    width: 42px;
    height: 42px;
  }

  .footer {
    font-size: 19.3287px;
    line-height: 23px;
    margin-bottom: 40px;
  }

  .main__total {
    font-size: 64px;
    line-height: 95px;
    margin: 0;
  }

  .main__description {
    font-size: 30px;
    line-height: 36px;
  }

  .whitelist__success {
    font-size: 20px;
    line-height: 154.34%;
    flex-direction: column;
    margin-top: 24px;
  }

  .whitelist__success p {
    margin: 0;
  }

  .whitelist__success p::after {
    content: "👇";
    display: block;
  }

  .whitelist__success a {
    font-size: 19px;
    line-height: 23px;
    border-radius: 15px;
    height: 46px;
    padding: 0 12px 0 16px;
  }

  .input {
    position: relative;
    height: 48px;
    margin-top: 24px;
    width: 100%;
  }

  .input__flag {
    width: 25px;
    height: 25px;
  }

  .input__field {
    font-size: 15px;
    line-height: 18px;
    width: 100%;
  }

  .input__button {
    width: 96px;
    font-size: 13px;
    line-height: 16px;
    min-width: 100px;
    flex-shrink: 1;
  }
}
