@import url(reset.css);

* {
    font-family: ui-rounded, 'Varela Round', sans-serif !important;
}

body {
    overflow-x: hidden;
}

.page {
  margin: 0;
  overflow: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 84px 72px 0;
  box-sizing: border-box;
}

.header__label {
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 111.34%;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
  color: #000000;
  margin: 0;
  margin-right: auto;
}

.header__icon {
  width: 70px;
  height: 70px;
  margin-left: 32px;
}

.header__join {
  height: 56px;
  text-decoration: none;
  background: rgba(132, 56, 255, 0.31);
  border-radius: 36px;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 111.34%;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
  color: #7a28ff;
  padding: 0 32px;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 56px 24px 120px;
}

.main__total {
  display: flex;
  align-items: center;
  text-align: center;

  font-style: normal;
  font-weight: bold;
  font-size: 124px;
  line-height: 148px;

  letter-spacing: 0.389425px;
  color: #000000;
  margin: 0;
  margin-bottom: 14px;
}

.main__description {
  font-style: normal;
  font-weight: normal;
  font-size: 62px;
  line-height: 74px;
  letter-spacing: 0.389425px;
  color: #0c0b0b;
  text-align: center;
  margin: 0;
}

.main__description strong {
  font-weight: bold;
}

.main__description span {
  color: #6ce246;
}

.whitelist__success {
  margin-top: 60px;
  font-style: normal;
  font-weight: bold;
  font-size: 31.2633px;
  line-height: 53px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.393025px;
  color: #4a4a4a;
}

.whitelist__success p {
  margin: 0;
  margin-right: 18px;
}

.whitelist__success p::after {
  content: "👉";
}

.whitelist__success a {
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  font-size: 17.8648px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.393025px;
  color: #8438ff;

  background: rgba(132, 56, 255, 0.31);
  border-radius: 18px;
  padding: 12px 24px;
  width: 184px;
}

.input {
  margin-top: 60px;
  background: rgba(226, 226, 226, 0.35);
  border-radius: 18px;
  display: flex;
  align-items: center;
  height: 62px;
  width: 430px;
}

.input__flag {
  padding-left: 16px;
  height: 30px;
  width: 30px;
}

.input__field {
  font-style: normal;
  font-weight: bold;
  font-size: 17.7012px;
  line-height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: 0.328089px;
  color: #000000;
  margin-left: 8px;
  height: 100%;

  border: none;
  background: transparent;
  outline: none;
}

.input__button {
  display: flex;
  align-items: center;
  text-align: center;
  text-decoration: none;
  flex-shrink: 0;
  border: none;
  cursor: pointer;

  background: #c3ffad;
  border-radius: 0px 20px 20px 0px;
  font-style: normal;
  font-weight: normal;
  font-size: 17.7012px;
  line-height: 21px;
  letter-spacing: 0.389425px;
  color: #6ce246;
  padding: 0 22px;
  height: 100%;
}

.input__button:disabled {
  background: #defad4;
  cursor: default;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  font-style: normal;
  font-weight: bold;
  font-size: 29.1667px;
  line-height: 35px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.366667px;

  margin-bottom: 32px;
}

.footer__date {
  color: #000000;
  margin: 0;
}

.footer__company {
  color: #4a4a4a;
  opacity: 0.37;
  margin: 0;
}

/* ------------------------------ optimisation for mobile ------------------------------ */

@media screen and (max-width: 812px) {
  .header {
    padding: 32px 42px 0;
  }

  .header__label {
    font-size: 40px;
    line-height: 111.34%;
  }

  .header__join {
    display: none;
  }

  .header__icon {
    width: 50px;
    height: 50px;
  }

  .footer {
    font-size: 25px;
    line-height: 30px;
  }

  .main {
    padding-bottom: 48px;
  }

  .main__total {
    font-size: 64px;
    line-height: 95px;
    margin: 0;
  }

  .main__description {
    font-size: 30px;
    line-height: 36px;
  }

  .whitelist__success {
    font-size: 20px;
    line-height: 154.34%;
    flex-direction: column;
  }

  .whitelist__success p {
    margin: 0;
  }

  .whitelist__success p::after {
    content: "👇";
    display: block;
  }

  .whitelist__success a {
    margin-top: 18px;
  }

  .input {
    height: 48px;
    margin-top: 24px;
    width: 100%;
  }

  .input__flag {
    width: 25px;
    height: 25px;
  }

  .input__field {
    font-size: 15px;
    line-height: 18px;
    width: 100%;
  }

  .input__button {
    font-size: 13px;
    line-height: 16px;
    min-width: 100px;
  }
}
