

/* ------------------------------  fonts ------------------------------ */
@font-face{
    src: url(../../fonts/SF-Pro-Rounded-Light.otf);
    font-family: "SFProRounded";
    font-weight: lighter;
    font-style: normal;
}
@font-face{
    src: url(../../fonts/SF-Pro-Rounded-Semibold.otf);
    font-family: "SFProRounded";
    font-weight: bold;
    font-style: normal;
}

/* ------------------------------ default properties ------------------------------ */

.title{
    font-size: 45px;
}
.stackedit__right{
    margin: 5% 15%;
    font-family: "SFProRounded";
    font-size: 25px;
    font-weight: lighter;
    line-height: 1.6;
}
