* {
  font-family: ui-rounded, "SFRounded", sans-serif !important;
}

.title {
    font-size: 45px;
    display: flex;
    align-items: center;
}

.title p {
    font-weight: bold;
}

.title img {
    width: 64px;
    height: 64px;
    flex-shrink: 0;
    margin-right: 16px;
}

.stackedit__right {
    margin: 5% 15%;
    font-size: 25px;
    font-weight: lighter;
    line-height: 1.6;
}
